
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
@font-face {
  font-family: 'Beaufort';
  src: url("../fonts/beaufort-for-lol/BeaufortforLOL-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beaufort';
  src: url("../fonts/beaufort-for-lol/BeaufortforLOL-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
    body {
      font-family: Arial, sans-serif;
      background-color: #202020;
      color: white;
    }

    header {
      background-color: #bbbbbb;
      padding: 10px;
      position: fixed;
      width: 100%;
      display: flex;
      z-index: 1;
      justify-content: space-between;
    }
    .logo {
        max-width: 10rem;
        padding: 0 0 0 10px;
    }
    .abrir-menu, .cerrar-menu{
        display: none;
    }

    .nav ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 27px 20px 0 0;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      transition: color 0.3s ease;
      text-shadow: 1px 1px #111111;
    }

    nav ul li a:hover {
      color: #ff00ff;
    }




    .parallax {
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      will-change: transform;
      background-image: url("../images/kda.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    .parallax::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 2;
    }

    .parallax-content {
      position: relative;
      z-index: 3;
      text-align: center;
      padding: 20px;
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    .parallax-content h1 {
      font-size: 3em;
      margin-bottom: 10px;
    }

    .parallax-content p {
      font-size: 1.2em;
      margin-bottom: 20px;
    }

    .btn {
      display: inline-block;
      background-color: #ff00ff;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
      transform: scale(100%);
    }

    .btn:hover {
      background-color: #cc00cc;
      transform: scale(110%);
      transition: 0.3s ease;
    }

    .section-divider {
      border-top: 1px solid #666;
      margin: 50px auto 50px;
      width: 85%;
    }

    .section-title {
      text-align: center;
      font-size: 1.4em;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .icons, .platforms {
      display: flex;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    .platforms {
      gap: 70px;
    }

    .icons img, .platforms img {
      width: 80px;
      height: auto;
      transition: transform 0.3s ease;
    }

    .platforms img {
      width: auto;
      height: 50px;
    }

    .icons img:hover, .platforms img:hover {
      transform: scale(1.1);
    }
    .social{
      padding: 10% 0;
    }

    .foot {
      background-color: #111111;
      z-index: 1;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
      gap: 1rem;
    }

    .logo-brand {
        padding: 0.938rem;
        transition: 0.4s ease;
    }

    .logo-brand:hover {
        transform: scale(110%);
        transition: 0.4s ease;
        cursor: pointer;
    }

    .redes-riot{
        color: #ffffff;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        padding-bottom: 20px;
    }
    .redes-riot a:link, a:visited {
        color: #ffffff;
        cursor: pointer;
    }

    .copyright{
        color: #353535;
    }

    .player-list
    {
        text-align: center;
        padding-top: 50px;
    }

    .player {
        aspect-ratio: 16 / 9;
        width: 80%;
    }
    .seracont {
      padding: 100px 5% 5%;
    }
    .seraphine{
      text-align: center;
      align-content: center;
    }

    .seraphine-img{
      width: 70%;
      transition: .3s ease;
    }

    .seraphine p{
      padding: 10% 15%;
      text-align: justify;
    }

    .gallerycont .galleryimg {
      width: 60%;
    }

    .galleryimg{
      padding-bottom: 2rem;
    }
    .galeria-boton{
      position: relative;
      display: inline-block;
      width: 110px;
      height: 60px;
      cursor: pointer;
      overflow: hidden;
    }
    .galeria-boton img{
      width: 100%;
      height: 100%;
      display: block;
    }
    .galeria-boton::after{
      content: "";
      position: absolute;
      inset: 0;
      background-color: #ffffff98;
      transition: background-color 0.3s ease;
      pointer-events: none;
    }
    .galeria-boton:hover::after{
      background-color: #ffffff00;
    }
    .galeria-boton.selected:after{
      background-color: #ffffff00;
    }

    .descripcion-title {
      font-family: Spiegel, sans-serif;
      word-break: break-word;
      font-size: 22px;
      line-height: 32px;
      font-weight: bold;
      color: rgb(218, 218, 218);
      text-transform: uppercase;
      padding: 5% 10% 0;
    }

    .titulo-galeria{
      word-break: break-word;
      font-family: "Beaufort", sans-serif;
      font-style: italic;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 64px;
      line-height: 72px;
      text-wrap: balance;
      text-align: center;
    }

    .galeria-cont{
      max-width: 70%;
      margin: auto;
      padding: 100px 40px 40px;
    }

    .imagen-principal{
      position: relative;
      height: 100%;
      max-height: none;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border-radius: 10px;
      text-align: center;
      object-fit: contain;
    }

    .imagen-principal img{
      height: 100%;
    }

    .progress-bar {
      width: 100%;
      height: 5px;
      background-color: #ddd;
      margin: 10px 0;
      border-radius: 3px;
      overflow: hidden;
    }

    .progress-fill {
      height: 100%;
      background-color: #c8aa6e; 
      width: 0%;
      transition: width .3s ease;
    }

    .carousel-cont{
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .nav-btn{
      background: none;
      border: none;
      font-size: 1.8rem;
      cursor: pointer;
      color: #c8aa6e;
    }

    .miniaturas-wrapper{
      overflow-x: scroll;
      scrollbar-width: none;
      flex: 1;
    }

    .miniaturas-wrapper::-webkit-scrollbar{
      display: none;
    }

    .miniaturas{
      display: flex;
      gap: 8px;
      transition: transform .4s ease;
    }

    .miniaturas img{
      width: 117px;
      height: 66px;
      object-fit: cover;
      cursor: pointer;
      background-color: #ffffff0a;
      opacity: 0.5;
      border: 3px solid transparent;
      transition: opacity .3s, border .3s;
      flex-shrink: 0;
    }

    .miniaturas img:hover{
      opacity: 1;
    }

    .miniaturas img.active{
      border: 3px solid #c8aa6e;
      opacity: 1;
    }
    /* debe estar abajo de todo o las funciones no andan */
    @media screen and (max-width: 550px) {
        .abrir-menu, .cerrar-menu {
            display: block;
            border: 0;
            color: #ffffff;
            background-color: transparent;
            font-size: 1.2rem;
            padding-right: 20px;
            cursor: pointer;
        }

        #fondo {
            background-image: url("../images/kda_celu.jpg");
            background-position-y: 40px;
        }
        
        .nav {
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            position: absolute;
            align-items: end;
            top: 0;
            right: 0;
            background-color: #3f3f3f;
            padding: 2rem;
            transform-origin: top right;
            scale: 0;
            z-index: 2;
        }
        .nav.visible {
            opacity: 1;
            visibility: visible;
            transition: 0.4s ease;
            scale: 100%;
        }
        .nav.closed {
            transition: 0.4s ease;
            scale: 0;
        }
        .nav ul {
            align-items: end;
            justify-content: end;
        }
        .nav-list {
            flex-direction: column;
            align-items: end;
        }

        .player {
            width: 100%;
        }

        .gallerycont .galleryimg {
          width: 100%;
        }
        .logo-brand{
          width: 50%;
          height: 50%;
        }
        .seraphine img{
          width: 100%;
        }
        .seraphine p{
          padding: 10% 10%;
          text-align: justify;
        }
        .gallerycont {
          padding: 0;
        }
        .seracont{
          padding: 0;
        }
        .galeria-cont{
          padding: 100px 5% 5%;
          max-width: 100%;
        }
        .imagen-principal{
          position: relative;
          height: 100%;
          max-height: none;
          aspect-ratio: auto;
          object-fit: cover;
        }
        .galeria-cont {
          padding: 100px 10px 50px;
        }
        .galeria-cont img{
          width: 100%;
          height: auto;
        }
        .miniaturas img{
          width: 60px;
          height: 40px;
        }
        .titulo-galeria{
          word-break: break-word;
          font-family: "Beaufort", sans-serif;
          font-style: italic;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 44px;
          line-height: 52px;
          text-wrap: balance;
          text-align: center;
    }
    }