body {
    font-family: 'Titillium Web', sans-serif;
}

p {
    font-size: 1.125rem;
    color: darkgray;
    line-height: 1.8;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

a ion-icon {
    font-size: 1.375rem;
    color: white;
}

section {
    padding: 7.5rem 0;
}

.bg-light-grey { background-color: lightgray}
.topmargin-xs { margin-top: 0.938rem; }
.topmargin-sm { margin-top: 1.875rem; }
.topmargin-lg { margin-top: 3.75rem; !important }

.btn {
    font-size: 0.875rem;
    padding: 0.938rem 1.625rem;
    min-width: 10rem;
    border-radius: 0.125rem;
    display: inline-block
}

.btn-light {
    background-color: white;
    color: black;
    border: 0.125rem solid white;
}

.text-dark { color: black}

.navbar {
    background-color: white;
    min-height: 3.125rem;
    z-index: 10000;
}

.nav-link { color:blueviolet }
.nav-link:hover { color:blueviolet }

.navbar-togller { font-size: 1.25rem;}
.navbar-toggler:focus { outline: none;}

#kda {
    background-image: url(images/kda.jpg);
    background-size: cover;
    padding-top: 5.625rem;
    min-height: 43.75rem;
    color: white;    
}

#kda p {
    color: white;
}

.content-center {
    max-width: 50rem;
    margin: 7.5rem auto 3.75rem auto;
    text-align: center;  
}

.logo-brand {
    padding: 0.938rem;
}

.content-center2 {
    max-width: 50rem;
    margin: 0 auto 3.75rem auto;
    text-align: center;  
}

.nosotras-container {
    position: relative;
    overflow: hidden;
    margin: 0.938rem 0;
    border-radius: 0.125rem;
}

.nosotras-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.nosotras-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.nosotras-details {
    position: absolute;
    bottom: 0.125rem;
    left: 0.125rem;
    z-index: 9000;
    padding: 0.625rem;
}

.nosotras-details a h2, .nosotras-details a p {
    color: white;
}

.member-container {
    position: relative;
    margin: 0.625rem 0;
}

.member-details {
    position: absolute;
    top: 15.938rem;
    left: 0.375rem;
    color: white;
    padding: 0 0.625rem;
}

.member-details span {
    font-size: 0.875rem;
}

.member-details ion-icon {
    padding: 0 0.313rem;
}

.redes {
    padding: 6.25rem;
}

#footer {
    padding: 5rem 0;
    text-align: center;
    color: white;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: white;
}

#footer .list-inline .list-inline-item {
    padding: 0.625rem 0.938rem;
}